body {background-color:white;
}
.name {font-size:40px;
font-family: 'Orbitron', sans-serif;
color:#BF3326;}
.flex-container {
  display: flex;
}
.save {margin-top:100px;}
.img1 {
	width:170px;
	height:auto;
}
.img2 {
	width:100px;
	height:auto;
	margin-right:200px;
}
.img3 { width:200px;
height:auto;
margin-left:100px; }
.img4 {height:200px;
width:140px;}
.img5 {width:100px
	height:100px;}
	.i1 {width:400px;
		height:auto;}
		.i10 {margin-top:100px;
			width:400px;
			height:auto;}
			.i2 {width:500px;
				height:auto;}
				.i3{width:1100px;
					height:auto;}