body {background-color:#4e7e99;
}
.name {font-size:40px;
font-family: 'Orbitron', sans-serif;
color:#F90062;}
.flex-container {
  display: flex;
}
.gif {background-color: #143E80;
}
.img1 {
	width:170px;
	height:auto;
}
.img2 {
	width:100px;
	height:auto;
	margin-right:200px;
}
.missing {background-color:white;
margin:0;}
.img3 { width:200px;
height:auto;
margin-left:100px; }
.img4 {height:200px;
width:140px;}
.img5 {width:100px
	height:100px;}
.i1 {width: 400px;
height:auto;
margin-top:100px;}
.i2 {margin-left:200px;
	margin-top:50px;
width:300px;
height:auto;}
.i3 {margin-left:450px;
width:200px;
height:auto;}
.i4 {width:200px;
height:auto;}